@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background-color: #131921;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    cursor: pointer;
    margin-right: 2vw;
    margin-left: 1vw;
}

.searchBar {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 60%; /* Reduced width of search bar */
    max-width: 600px; /* Maximum width to keep it compact */
}

.dropdown {
    padding: 8px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    cursor: pointer;
    width: 25%;
    outline: none; /* Remove the focus border */
}

.searchBar input {
    width: 70%;
    padding: 8px;
    border: none;
    font-size: 14px;
    outline: none; /* Remove the focus border */
}

.searchBar button {
    padding: 8px 12px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.accountCart {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Add even spacing between items */
    flex: 1; /* Let the accountCart take up available space */
}

.account, .assistant, .cart {
    display: flex;
    flex-direction: column; /* Ensure text and icons are stacked */
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 15%; /* Use a percentage for responsiveness */
    font-size: 1vw; /* Adjust font size relative to viewport width */
}

.account span, .assistant span, .cart span {
    margin-top: 5px; /* Space between icon and text */
}

.icon, .botIcon {
    height: 24px; /* Set size as desired */
    width: 24px;
    color: white;
}

.loadingBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #007bff;
    z-index: 9999;
    animation: loadingAnimation 2s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
