@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    background-color: #131921;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    cursor: pointer;
}

.searchBar {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 50%; /* Reduced width of search bar */
    max-width: 600px; /* Maximum width to keep it compact */
}

.dropdown {
    padding: 8px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    cursor: pointer;
}

.searchBar input {
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 14px;
}

.searchBar button {
    padding: 8px 12px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.accountCart {
    display: flex;
    align-items: center;
}

.account, .assistant, .cart {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    font-size: 1.1vw;
}

.account span, .assistant span, .cart span {
    margin-left: 5px;
}

.icon {
    height: 24px;
    width: 24px;
    color: white;
}
.assistant {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 1.1vw;
}

.botIcon {
    height: 24px; /* Set size as desired */
    width: 24px;
    color: white;
    margin-bottom: 4px; /* Space between icon and text */
}